*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body {
    background-color: rgb(248, 250, 251);
    color: rgb(0, 0, 0);
    font-family: 'Inter Tight', sans-serif; 
    font-weight: 300;
    top:0;
}
main{
    margin-left:50px;
    margin-right: 50px;
    margin-top:0px;
}
header{
    background-color: rgb(248, 250, 251);
    display:block;
    top:0;
    padding-bottom:30px;
    padding-right:70px;
    padding-left:70px;
    padding-top:10px;
    z-index:3;
}
nav {
    display: flex;
    flex-direction: row;
    gap: 30px;

}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
    padding-left: 0px;
}
nav ul li {
    list-style:none;
    text-decoration: none;
    color: black;
    font-style: normal;
    line-height: normal;
    margin-top:auto;
    margin-bottom:auto;
}
nav ul li a {
    display: block;
    padding-bottom: 5px;
    color: rgb(0, 0, 0);
    letter-spacing: .5px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
  }
  nav ul li a:hover{
    background-color: #ffffff;
    background-image: linear-gradient(45deg, #4fe8ca, #0045b3);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    transition: .2s all;
    border-bottom: 2px solid #000000;
    padding-bottom: 3px;
  }

.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 40%;
    flex-grow: 2;
}

.hometext-pic {
    display: flex;
    gap: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
}

img.profile {
    display: block;
    border-radius: 20px;
    margin: auto;
    width: 100%;
    max-width:300px;
    margin-top: 30px;
    box-shadow: 7px 7px 30px rgb(89, 112, 121);
}
.hometext-pic figure{
    flex-grow: 1;
    width: 10%;
}

.hi{
    font-size: 90px;
    margin-bottom: 10px;
    margin-top: 40px;
    background-color: #ffffff;
    background-image: linear-gradient(45deg, #4fe8ca, #0045b3);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.minibio {
    font-size: 40px;
    margin-top:0px;
    margin-left:0;
}

button a{
    text-decoration: none;
}

.instagram img{
    width: 19px;
    padding-bottom: 3px;
}
.instagram img:hover{
    border-bottom: 2px solid #000000;
    padding-bottom: 4px;
    transition: .1s all;
}
.linkedin img{
    width: 18px;
    padding-bottom: 3px;
}
.linkedin img:hover{
    border-bottom: 2px solid #000000;
    padding-bottom: 4px;
    transition: .1s all;
}
.behance img{
    width: 23px;
    padding-bottom: 0px;
    margin-bottom: 4px;
}
.behance img:hover{
    border-bottom: 2px solid #000000;
    padding-bottom:1px;
    transition: .1s all;
    margin-bottom:1px;
}
.behance{
    margin-top:3px;
}
.instagram{
    margin-top:1px;
}
.socials {
    display:flex;
    align-items: center;
    margin-left:auto;
    margin-top:auto;
    margin-bottom:auto;
    gap:15px;
}
.homebelow {
    display:flex;
    flex-direction: row;
    gap:40px;
}
.whoami,.whatdoido {
    width: 50%;
    background-color: #ffffff;
    background-image: linear-gradient(45deg, #46dfcb, #0057b3);
    background-size: 100%;
    color:#fff;
    border-radius: 15px;
    box-shadow: 7px 7px 25px rgb(184, 201, 207);
    margin-bottom:45px;
}
.whoami h3, .whatdoido h3{
    font-size: 30px;
    margin:0px;
}
.innerbox {
    margin:30px;
}
.innerbox h3,p,.whitebutton{
    margin:15px;
}

.whitebutton, .whitebutton2{
    background: #fff;
    padding-left:25px;
    padding-right:25px;
    padding-top:10px;
    padding-bottom:10px;
    font-family: 'Inter Tight', sans-serif; 
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(10, 10, 10, 0.139);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-left:0;
}
.whitebutton a, .whitebutton2 a{
    margin:auto;
    font-size:15px;
    color: #000000;
    font-weight: 600;
    background-color: #ffffff;
    background-image: linear-gradient(45deg, #34ccc7, #0f8cbe);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
  
.whitebutton:hover , .whitebutton2:hover{
    background-color: #ffffff;
    background-image: linear-gradient(45deg, #41c6d2, #0f87be);
    background-size: 100%;
    box-shadow: 0px 15px 20px rgba(0, 72, 108, 0.467);
    color: #fff;
    transform: translateY(-7px);
}
.whitebutton:hover a, .whitebutton2:hover a{
    background-color:white; 
    color:white;
    background-image:none;

}
.whitebutton2{
    margin-bottom:10px;
}

/* HAMBURGER MENU */

.hamburger {
    display:none;
    cursor:pointer;
    margin-left:auto;
    align-items: center;
    margin-top:auto;
    margin-bottom:auto;
}
.bar {
    display:block;
    width:25px;
    height:3px;
    margin:5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(0, 0, 0);
    align-items: center;
}

/* Business & Projects */

.businesstitle,.aboutheader,.contactheader{
    text-align: center;
    line-height: 65px;
    font-size: 70px;
    margin-bottom: 50px;
    padding-top: 30px;
    background-color: #ffffff;
    background-image: linear-gradient(45deg, #4fe8ca, #0045b3);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.projectheader {
    text-transform: uppercase;
    margin-bottom:10px;
    font-size: 30px;
    margin-top:10px;
    max-width: 500px;
}
.projectpic{
    display:block;
    width:80%;
    margin:auto;
    margin-right:0;
    border-radius: 20px;
    max-width: 350px;
}
.projectdiv{
    display:flex;
    flex-direction: row;
    gap:40px;
    margin-left:auto;
    margin-bottom:65px;
    z-index: 1;
}
.projectdiv figure{
    flex-grow:1;
    width:70%;
    align-items: right;
}
.projectdescription {
    flex-grow:1;
    width:70%;
    margin-bottom:40px;
}
.description{
    margin:0;
    max-width:500px;
}
.date{
    font-size: 20px;
    margin-bottom:15px;
    text-transform: uppercase;
    background-color: #ffffff;
    background-image: linear-gradient(45deg, #3fcdd2, #0045b3);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.miniprojects{
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
    margin-top:80px;
    background-color: #ffffff;
    background-image: linear-gradient(45deg, #4fe8e6, #0045b3);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

/* ABOUT ME */
.aboutdiv h3{
    font-size: 30px;
    margin-bottom:15px;
    background-color: #ffffff;
    background-image: linear-gradient(45deg, #3fcdd2, #0045b3);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.notableclasses {
    color:rgb(255, 255, 255);
    font-size:18px;
    margin-bottom:15px;
    text-transform: uppercase;
}

.aboutdiv{
    box-shadow: 5px 5px 12px rgba(0, 72, 108, 0.369);
    border-radius: 15px;
    padding:25px;
    margin-bottom: 35px;
}
.notablediv{
    background-color: #ffffff;
    background-image: linear-gradient(45deg, #46dfcb, #0057b3);
    background-size: 100%;
    color:#fff;
    border-radius: 15px;
    box-shadow: 7px 7px 25px rgb(184, 201, 207);
    padding:20px;
}
.notablediv ul {
    margin-left:30px;
}

/* CONTACT */

.container{
    /* display:flex; */
    width:70%;
    align-items:center;
    justify-content: center;
    margin:auto;
    margin-bottom:30px;
}
form {
    display:flex;
    flex-direction: column;
    align-items:center;
    margin:0;
    gap:10px;
    
}
form input, form textarea{
    border:0;
    align-items:center;
    padding:15px;
    width:100%;
    box-shadow: 7px 7px 5px rgb(213, 226, 230);
    border-radius: 10px;
}
form button{
    margin-top:5px;
    width:30%;
    font-size:15px;
    background-color: #ffffff;
    background-image: linear-gradient(45deg, #41c6d2, #0f87be);
    background-size: 100%;
    border: 0;
    padding:10px;
    border-radius:15px;
    color:white;
    text-transform: uppercase;
    font-weight:700;
    box-shadow: 7px 7px 15px rgb(213, 226, 230);
}
form button:hover{
    background-color: white;
    background-image: none;
    color:black;
}
form h3{
    text-transform: uppercase;
    flex-grow:1;
    margin-bottom:10px;
    font-size: 25px;
    margin-top:10px;
}

.general {
    display:block;
    text-align: center;
    margin:auto;
    max-width: 800px;
    margin-bottom:30px;
}
footer {
    text-align: center;
    margin-bottom: 15px;
    font-size: 11px;
}


@media (max-width:931px) {
    .hometext-pic {
        flex-direction: column;
        align-items: center;
    }
    .hometext-pic figure{
        width:70%;
        margin-bottom:70px;
    }
    .intro {
        width:80%
    }
    .minibio {
        margin-bottom:0;
    }
    .intro,.hi,.minibio {
        text-align: center;
        margin:auto;
    }
    .projectheader{
        max-width:none;
    }
    .description {
        max-width:none;
    }
}
@media (max-width:792px) {
    .homebelow {
        flex-direction: column;
    }
    .whoami, .whatdoido{
        align-items: center;
        width: auto;
    }
    .hamburger{
        display:block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    header {
        position:fixed;
    }
    nav ul {
        padding-left:70px;
        position:fixed;
        top:70px;
        top:-100%;
        gap:0;
        flex-direction: column;
        background-color: rgb(248, 250, 251);
        width: 100%;
        text-align: center;
        transition:0.3s;
    }
    nav ul li{
        margin:16px;
    }
    nav ul.active {
        left:0;
        top:80px;
        width:100%;
        padding-left:70px;
    }
    header {
        width:100%;
    }
    .hamburger{
        margin-right:0;
        padding-bottom:10px;
    }
    .socials{
        margin-left:0px;
    }
    main{
        margin-top: 100px;
    }
    .projectdiv{
        flex-direction: column;
        align-items: center;
    }
    .projectpic{
        margin:auto;
    }
    .projectdescription{
        text-align: center;
        width:90%;
    }
    .whitebutton {
        margin-right: 15px;
        margin-left:15px;
    }
    .projectpic {
        width:100%;
    }
    .minibio{
        font-size: 30px;
    }
    .hi {
        font-size: 80px;
    }
    .hometext-pic {
        gap: 0px;
    }
    .businesstitle,.aboutheader,.contactheader{
        font-size: 400%;
    }
    .container {
        width: 85%;
    }
    .aboutdiv h3 {
        font-size: 25px;
    }
    .projectdiv figure {
        width:90%;
    }
}

.hidden {
    opacity: 0;
    filter:blur(0);
    transform: translateX(-20%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter:blur(0);
    transform: translateX(0);
    transition: all 1s;
}


.skills {
    font-size: 14px;
    margin-top:10px;
    text-transform: uppercase;

}